<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-[#12181B] min-h-screen flex items-center justify-center ">
    <div class="bg-[#201E1E] p-4 flex flex-col text-white">
            <h1 class="text-3xl  font-medium  mb-3">Iniciar sesion</h1>
            <input class="mb-4 focus:outline-none focus:border-[#5060EC] rounded border-solid border-2 border-gray-700 bg-transparent w-[400px] h-[45px] placeholder:mp-2" type="text" placeholder="Correo" id="">
            <input class="mb-5 focus:outline-none focus:border-[#5060EC] rounded border-solid border-2 border-gray-700 bg-transparent w-[400px] h-[45px]" type="password" placeholder="Contraceña" id="">
            <button class="mb-5 text-black bg-[#5060EC] hover:bg-[#3749E0] rounded h-[40px]">Iniciar secion</button>
    </div>
</body>
</html>